@use 'sass:math';

@mixin theme {
	/* Primary Colors */
	--color-danger: #e27056;

	/* Text */
	--color-text-dark: #e6e6e6;
	--color-text-base: #d1d1d1;
	--color-text-light: #a8a8a8;
	--color-text-lighter: #7a7a7a;
	--color-text-xlight: #5e5e5e;
	--color-text-danger: #ff867c;

	/* Foreground */
	--color-foreground-xdark: #c4c4c4;
	--color-foreground-dark: #9e9e9e;
	--color-foreground-base: #6f6f6f;
	--color-foreground-light: #5e5e5e;
	--color-foreground-xlight: #4c4c4c;

	/* Background */
	--color-background-dark: #222831;
	--color-background-medium: #393e46;
	--color-background-base: #444b57;
	--color-background-light-base: #4e5661;
	--color-background-light: #505a67;
	--color-background-xlight: #424b56;

	--box-shadow-base: 0 2px 6px rgba(0, 0, 0, 0.3);
	--box-shadow-dark: 0 2px 8px rgba(0, 0, 0, 0.4);
	--box-shadow-light: 0 2px 10px rgba(0, 0, 0, 0.2);

	/* Assistant */
	--color-assistant-highlight-1: #519e81;
	--color-assistant-highlight-2: #1c7293;
	--color-assistant-highlight-3: #e27056;
	--color-askAssistant-button-background: #333c47;
	--color-askAssistant-button-background-hover: #3c4652;
	--color-askAssistant-button-background-active: #4a5664;

	/* Chat */
	--color-lm-chat-messages-background: #282d36;
	--color-lm-chat-bot-background: #3e4653;
	--color-lm-chat-user-background: #1c7293;
	--color-lm-chat-user-border: #519e81;

	/* Canvas */
	--color-canvas-background: #2a3038;
	--color-canvas-dot: #505a67;
	--color-canvas-read-only-line: #505a67;
	--color-canvas-selected: rgba(255, 255, 255, 0.1);

	/* Nodes */
	--color-node-background: #3b434e;
	--color-node-executing-background: #505a67;
	--color-node-pinned-border: #519e81;
	--node-type-main-color: #1c7293;

	/* Sticky */
	--color-sticky-background: #1c7293;
	--color-sticky-border: #519e81;
	--color-sticky-font: #e6e6e6;

	/* Expressions & Code */
	--color-expression-editor-background: #252a32;
	--color-code-background: #1e232a;
	--color-code-lineHighlight: rgba(255, 255, 255, 0.05);
	--color-code-selection: #1c729344;

	/* Buttons */
	--color-button-primary-focus-outline: rgba(226, 112, 86, 0.3);
	--color-button-secondary-font: #e6e6e6;
	--color-button-secondary-border: #1c7293;
	--color-button-secondary-hover-active-focus-font: #519e81;
	--color-button-secondary-hover-background: #333c47;
	--color-button-danger-font: #ffffff;
	--color-button-danger-background: #e27056;

	/* Table */
	--color-table-header-background: #3e4653;
	--color-table-row-background: #282d36;
	--color-table-row-hover-background: #3e4653;

	/* Notification */
	--color-notification-background: #3e4653;

	/* Dialogs & Overlays */
	--color-dialog-background: #252a32;
	--color-dialog-overlay-background: rgba(0, 0, 0, 0.7);

	/* Avatar */
	--color-avatar-font: #e6e6e6;

	/* NPS Survey */
	--color-nps-survey-background: #3e4653;
	--color-nps-survey-font: #e6e6e6;

	/* Switch */
	--color-switch-background: #505a67;
	--color-switch-border-color: #6f6f6f;
	--color-switch-toggle: #e6e6e6;

	/* Node Error */
	--color-node-error-output-text-color: #e27056;
}

body[data-theme='dark'] {
	@include theme;
}

@media (prefers-color-scheme: dark) {
	body:not([data-theme]) {
		@include theme;
	}
}
